*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:#081321;

    overflow:hidden;

    color:white;

}

/* Night Background */

.night{

    width:100%;

    height:100vh;

    position:relative;

    overflow:hidden;

    background:linear-gradient(to bottom,#081321,#020617);

}

/* Stars */

.stars{

    position:absolute;

    width:100%;

    height:100%;

    background-image:radial-gradient(white 1px,transparent 1px);

    background-size:70px 70px;

    opacity:.35;

    animation:twinkle 4s infinite alternate;

}

/* Moon */

.moon{

    position:absolute;

    width:130px;

    height:130px;

    border-radius:50%;

    background:#fff7cc;

    right:90px;

    top:60px;

    box-shadow:

    0 0 30px rgba(255,255,255,.6),

    0 0 80px rgba(255,255,255,.4);

    animation:moonGlow 3s infinite alternate;

}

/* Center */

.container{

    position:relative;

    z-index:5;

    width:100%;

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

/* Tree */

.tree{

    position:relative;

    margin-bottom:120px;

}

/* Branch */

.branch{

    width:900px;

    height:14px;

    background:#6b4226;

    border-radius:30px;

}

/* Panda */

.panda{

    position:absolute;

    width:500px;

    left:50%;

    transform:translateX(-50%);

    bottom:-90px;

    animation:breathe 4s infinite ease-in-out;

}

/* ZZZ */

.zzz{

    position:absolute;

    left:54%;

    top:-55px;

    color:white;

    font-size:28px;

    letter-spacing:8px;

    animation:sleepText 3s infinite;

}

/* Board */

.board{

    position:relative;

    animation:swing 5s ease-in-out infinite;

}

/* Rope */

.rope{

    position:absolute;

    width:4px;

    height:70px;

    background:#dbc49d;

    top:-70px;

}

.left{

    left:60px;

}

.right{

    right:60px;

}

/* Wooden Board */

.sign{

    background:#93633f;

    padding:35px 70px;

    border-radius:12px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.45);

}

.sign h2{

    font-size:28px;

    margin-bottom:10px;

    color:#ffe5c2;

}

.sign h1{

    font-size:48px;

    margin-bottom:20px;

}

.sign p{

    font-size:22px;

    margin-top:10px;

}

/* Email */

.contact{

    margin-top:50px;

    font-size:24px;

    color:#d1d5db;

}

/* Animations */

@keyframes swing{

0%{

transform:rotate(2deg);

}

50%{

transform:rotate(-2deg);

}

100%{

transform:rotate(2deg);

}

}

@keyframes breathe{

0%{

transform:translateX(-50%) scale(1);

}

50%{

transform:translateX(-50%) scale(1.02);

}

100%{

transform:translateX(-50%) scale(1);

}

}

@keyframes moonGlow{

0%{

box-shadow:0 0 20px rgba(255,255,255,.4);

}

100%{

box-shadow:0 0 70px rgba(255,255,255,.8);

}

}

@keyframes twinkle{

0%{

opacity:.2;

}

100%{

opacity:.45;

}

}

@keyframes sleepText{

0%{

transform:translateY(0);

opacity:0;

}

50%{

opacity:1;

}

100%{

transform:translateY(-20px);

opacity:0;

}

}
