*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#081321;

font-family:'Poppins',sans-serif;

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

color:white;

position:relative;

}

.night{

position:absolute;

width:100%;

height:100%;

background:linear-gradient(to bottom,#081321,#020617);

}

.stars{

position:absolute;

width:100%;

height:100%;

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:60px 60px;

opacity:.4;

}

.moon{

position:absolute;

top:70px;

right:120px;

width:120px;

height:120px;

background:#fff6d5;

border-radius:50%;

box-shadow:
0 0 40px #fff3,
0 0 80px #fff3;

}

.container{

position:relative;

z-index:10;

text-align:center;

}

.tree{

position:relative;

margin-bottom:60px;

}

.branch{

width:600px;

height:14px;

background:#5b3a29;

border-radius:20px;

margin:auto;

}

.panda{

width:220px;

position:absolute;

left:50%;

transform:translateX(-50%);

bottom:-5px;

animation:sleep 4s ease-in-out infinite;

}

.board{

position:relative;

display:inline-block;

animation:swing 4s ease-in-out infinite;

}

.rope{

position:absolute;

width:3px;

height:60px;

background:#d6c2a1;

top:-60px;

}

.left{

left:40px;

}

.right{

right:40px;

}

.sign{

background:#8b5e3c;

padding:35px 60px;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,.4);

}

.sign h1{

font-size:48px;

margin-bottom:15px;

}

.sign p{

font-size:20px;

margin:8px 0;

}

.contact{

margin-top:60px;

font-size:22px;

color:#d1d5db;

}

@keyframes swing{

0%{

transform:rotate(2deg);

}

50%{

transform:rotate(-2deg);

}

100%{

transform:rotate(2deg);

}

}

@keyframes sleep{

0%{

transform:translateX(-50%) translateY(0px);

}

50%{

transform:translateX(-50%) translateY(8px);

}

100%{

transform:translateX(-50%) translateY(0px);

}

}
